<?xml version="1.0"?>
<configuration>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <authentication mode="Forms">
        <forms loginUrl="views/login.aspx" defaultUrl="views/default.aspx" timeout="30" path="/" />
    </authentication>
  </system.web>
  
  <system.net>
    <defaultProxy useDefaultCredentials="true">
      <proxy autoDetect="True" usesystemdefault="True"/>
    </defaultProxy>
  </system.net>
  
  <appSettings>
    <add key="google-auth-path" value="http://www.google.com/accounts/o8/id"/>
  </appSettings>
  
</configuration>