<?xml version="1.0"?>

<configuration>

  <configSections>
    <sectionGroup name="system.serviceModel">
      <section name="domainServices" type="System.ServiceModel.DomainServices.Hosting.DomainServicesSection, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" allowDefinition="MachineToApplication" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="DomainServiceModule" preCondition="managedHandler" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>

  <system.web>
    <httpModules>
      <add name="DomainServiceModule" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </httpModules>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.serviceModel>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />

    <domainServices>
      <endpoints>
        <add name="OData" type="System.ServiceModel.DomainServices.Hosting.ODataEndpointFactory, System.ServiceModel.DomainServices.Hosting.OData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="Soap" type="Microsoft.ServiceModel.DomainServices.Hosting.SoapXmlEndpointFactory, Microsoft.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </endpoints>
    </domainServices>

    <extensions>
      <bindingExtensions>
        <add name="pollingDuplexHttpBinding" type="System.ServiceModel.Configuration.PollingDuplexHttpBindingCollectionElement,System.ServiceModel.PollingDuplex, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingExtensions>
    </extensions>

    <bindings>

      <basicHttpBinding>
        <binding name="Basic"/>
      </basicHttpBinding>

      <wsHttpBinding>
        <binding name="WsPlain">
          <security mode="None">
            <transport clientCredentialType="None"/>
            <message clientCredentialType="None" negotiateServiceCredential="false" establishSecurityContext="false"/>
          </security>
        </binding>
        <binding name="WsSecured"/>
      </wsHttpBinding>

      <wsDualHttpBinding>
        <binding name="DualHttp" />
      </wsDualHttpBinding>

      <pollingDuplexHttpBinding>
        <binding name="multipleMessagesPerPollPollingDuplexHttpBinding" duplexMode="MultipleMessagesPerPoll" />
      </pollingDuplexHttpBinding>

    </bindings>

    <behaviors>

      <serviceBehaviors>

        <behavior name="EchoWcfServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>

        <behavior name="EchoDuplexServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>

        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>

      </serviceBehaviors>

    </behaviors>

    <services>

      <service behaviorConfiguration="EchoWcfServiceBehavior" name="MyWork.Services.EchoWcfService">
        <endpoint binding="wsHttpBinding" bindingConfiguration="WsPlain" name="WsPlain" contract="MyWork.Services.IEchoWcfService"/>
        <endpoint address="/BasicRelative" binding="basicHttpBinding" bindingConfiguration="Basic" name="BasicRelative" contract="MyWork.Services.IEchoWcfService"/>
        <endpoint address="http://localhost:6565/Services/EchoWcfService.svc/Basic" binding="basicHttpBinding" bindingConfiguration="Basic" name="Basic" contract="MyWork.Services.IEchoWcfService"/>
        <endpoint address="http://localhost:6565/Services/EchoWcfService.svc/Encrypted" binding="wsHttpBinding" bindingConfiguration="WsSecured" name="WsSecured" contract="MyWork.Services.IEchoWcfService"/>
      </service>

      <service behaviorConfiguration="EchoDuplexServiceBehavior" name="MyWork.Services.EchoDuplexService">
        <endpoint  address="" binding="pollingDuplexHttpBinding" bindingConfiguration="multipleMessagesPerPollPollingDuplexHttpBinding" contract="MyWork.Services.IEchoDuplexService" />
        <endpoint address="/DualRelative" binding="wsDualHttpBinding" bindingConfiguration="DualHttp" name="DualHttpRelative" contract="MyWork.Services.IEchoDuplexService" />
        <endpoint address="http://localhost:6565/Services/EchoDuplexService.svc/Dual" binding="wsDualHttpBinding" bindingConfiguration="DualHttp" name="DualHttp" contract="MyWork.Services.IEchoDuplexService" />
      </service>

    </services>

  </system.serviceModel>
</configuration>
