<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEchoService" />
                <binding name="BasicHttpBinding_IEchoService1">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://home-pc:4456/echo-service.svc/basic2"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEchoService1"
                contract="ServiceReference1.IEchoService" name="BasicHttpBinding_IEchoService2" />
        </client>
    </system.serviceModel>
</configuration>