<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="false" targetFramework="4.0" />
  </system.web>

  <system.serviceModel>

    <bindings>
      <basicHttpBinding>
        
        <binding name="basic_binding"/>
        
        <binding name="secure_basic_binding">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        
      </basicHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="default_behavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service behaviorConfiguration="default_behavior" name="MyWork.Services.EchoService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basic_binding" contract="MyWork.Services.IEchoService"/>
        <endpoint address="/basic1" binding="basicHttpBinding" bindingConfiguration="basic_binding" contract="MyWork.Services.IEchoService"/>
        <endpoint address="/basic2" binding="basicHttpBinding" bindingConfiguration="secure_basic_binding" contract="MyWork.Services.IEchoService"/>
      </service>
    </services>


    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel
    
    >
</configuration>
